@font-face {
  font-family: 'NanumGothic';
  font-weight: normal;
  src: url('../public/fonts/NanumGothic-Regular.ttf');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'NanumGothic';
}
